<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <AccountUsername>ST10506152@rcconnect.edu.za</AccountUsername>
    <ApiMToolType>SwashBuckle</ApiMToolType>
    <ApiSpecificationFile>swagger.json</ApiSpecificationFile>
    <AzureServiceName>GLMSAPIST10506152</AzureServiceName>
    <AzureServiceResourceGroup>RSG-RCGPON-ST10506152-SANORTH</AzureServiceResourceGroup>
    <AzureServiceResourceId>/subscriptions/e81cac15-7128-4116-a416-bc57e51fdbb8/resourceGroups/RSG-RCGPON-ST10506152-SANORTH/providers/Microsoft.Web/sites/GLMSAPIST10506152</AzureServiceResourceId>
    <AzureServiceResourceType>Microsoft.Web/sites</AzureServiceResourceType>
    <AzureServiceSubscriptionId>e81cac15-7128-4116-a416-bc57e51fdbb8</AzureServiceSubscriptionId>
    <AzureServiceSubscriptionName>sub-ter-rcgpbr-rosebankcollege-studrsg-dts-001</AzureServiceSubscriptionName>
    <AzureWebSite>/subscriptions/e81cac15-7128-4116-a416-bc57e51fdbb8/resourceGroups/RSG-RCGPON-ST10506152-SANORTH/providers/Microsoft.Web/sites/GLMSAPIST10506152 (Microsoft.WebTools.Azure.Client.Entities.Website)</AzureWebSite>
    <DotNetCoreVersion>8.0.x</DotNetCoreVersion>
    <DotNetVersionSupportDisposition>FullySupported</DotNetVersionSupportDisposition>
    <DoNotUseSPN>true</DoNotUseSPN>
    <GitWorkflowCredentialsHandlerId>WebSite</GitWorkflowCredentialsHandlerId>
    <GitWorkflowFactoryId>appServiceApiMGitHubWorkflowFactory</GitWorkflowFactoryId>
    <GitWorkflowTemplatePath>workflows/github/azureAppServiceApiMWindows.yml</GitWorkflowTemplatePath>
    <IsLinuxAzureService>false</IsLinuxAzureService>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <ProjectName>GlobalLogisticsManagementSystemAPI</ProjectName>
    <ProjectOutputPath>publish</ProjectOutputPath>
    <ProjectPath>GlobalLogisticsManagementSystemAPI</ProjectPath>
    <SiteUrlToLaunchAfterPublish>https://glmsapist10506152.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SwashBuckleAspNetCoreCliVersion>8.1.1</SwashBuckleAspNetCoreCliVersion>
    <SwashBuckleDotNetCoreVersion>8.x</SwashBuckleDotNetCoreVersion>
    <TargetFrameworks>System.Collections.Generic.List`1[System.String]</TargetFrameworks>
    <TenantId>e10c8f44-f469-448f-bc0d-d781288ff01b</TenantId>
  </PropertyGroup>
</Project>